beautifulsoup4
bs4
certifi
charset-normalizer
contourpy
cycler
fonttools
idna
kiwisolver
matplotlib
numpy
packaging
pillow
psutil
pyparsing
python-dateutil
python-vlc
requests
six
soupsieve
typing_extensions
urllib3
python-dotenv
